<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.adrianodutra.exemplo" >

    <uses-permission android:name="android.permission.READ_CONTACTS" /><!-- ler os contatos do celular -->
    <uses-permission android:name="android.permission.INTERNET" /><!-- utilizar a internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- consultar a existencia de conexao com a internet -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- Utilizar cache do celular -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!-- localizar via Wifi ou 3G -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!-- localizar via GPS -->

    <uses-sdk android:minSdkVersion="11" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/> <!-- Nao mostre este aplicativo na loja para aparelhos sem OpenGL ES versao 2.0 no minimo -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".JanelaComBotao"
            android:label="@string/title_janela_com_botao" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploMapa"
            android:label="@string/title_exemplo_mapa" android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OutraJanela"
            android:label="@string/title_outra_janela" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploCicloVida"
            android:label="@string/title_ciclo_vida" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploLinearLayoutApi"
            android:label="@string/title_linear_layout_api" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploTableLayoutApi"
            android:label="@string/title_table_layout_api" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploListaContatos"
            android:label="@string/title_lista_contatos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExemploSimpleAdapter"
            android:label="@string/title_simple_adapter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploScrollView"
            android:label="@string/title_scroll_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploGridView"
            android:label="@string/title_grid_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploWebView"
            android:label="@string/title_web_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploTabHost"
            android:label="@string/title_tab_host" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploGallery"
            android:label="@string/title_gallery_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploTextoCores"
            android:label="@string/title_texto_cores" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploAutoComplete"
            android:label="@string/title_auto_complete" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploProgressBar"
            android:label="@string/title_progress_bar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploJanelasDeAlerta"
            android:label="@string/title_janelas_de_alerta" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MenuOpcoes"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExemploRoteadorAdapter"
            android:label="@string/title_activity_exemplo_smile_adapter" >
        </activity>

        <activity android:theme="@android:style/Theme"
            android:name=".ExemploLoader"
            android:label="@string/title_activity_exemplo_loader" >
        </activity>

        <activity
            android:name=".VisualizarTodosContatos"
            android:label="@string/title_activity_visualizar_todos_contatos" >
        </activity>

        <activity
            android:name=".ExemploTelaSimNao"
            android:label="@string/title_activity_tela_exemplo_sim_nao" >
        </activity>

        <activity
            android:name=".InvocaExemploSimNao"
            android:label="@string/title_activity_tela_invoca_exemplo_sim_nao" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDLJiUB8Cv34FKtd29CLttVpSPfhT-hz8" />

    </application>

</manifest>
